node_modules

.idea
!.idea/codeStyles
!.idea/dataSources.xml
!.idea/vcs.xml
!.idea/misc.xml
!.idea/modules.xml

/.cache
/public/build
/.netlify
.env
/app/styles/tailwind.css
/build

/prisma/data.db
/prisma/data.db-journal

/coverage
/storage
*.iml